{% extends "base.html" %}
{% block head %}
{% endblock %}
{% block content %}
    <div class="ui vertical inverted sidebar menu left" style="">
        <a id="home" class="active item">Home</a>
        {% if current_user.permission == 'admin' %}
            <form id="manager" action="{{ url_for('manager') }}" method="GET">
            </form>
            <a href="javascript:{}" onclick="document.getElementById('manager').submit();"
               class="item">Manager</a>
        {% endif %}
        {% if current_user.userId %}
            <form id='userInfo' action="{{ 'userInfo/' + current_user.userId }}" method="GET">
            </form>
            <a href="javascript:{}" onclick="document.getElementById('userInfo').submit();"
               class="item">UserInfo</a>
        {% endif %}
        <form id='rankList' action="{{ url_for('rank_list') }}" method="GET">
        </form>
        <a href="javascript:{}" onclick="document.getElementById('rankList').submit();"
           class="item">RankList</a>
    </div>
    <div class="pusher">
        <div class="ui inverted vertical masthead center aligned segment">
            <div class="ui container">
                <div class="ui large secondary inverted pointing menu">
                    <a class="toc item">
                        <i class="sidebar icon"></i>
                    </a>
                    <a id=home class="active item">Home</a>
                    {% if current_user.permission == 'admin' %}
                        <form id='manager' action="{{ url_for('manager') }}" method="GET">
                        </form>
                        <a href="javascript:{}" onclick="document.getElementById('manager').submit();"
                           class="item">Manager</a>
                    {% endif %}
                    {% if current_user.userId %}
                        <form id='userInfo' action="{{ 'userInfo/' + current_user.userId }}" method="GET">
                        </form>
                        <a href="javascript:{}" onclick="document.getElementById('userInfo').submit();"
                           class="item">UserInfo</a>
                    {% endif %}
                    <form id='rankList' action="{{ url_for('rank_list') }}" method="GET">
                    </form>
                    <a href="javascript:{}" onclick="document.getElementById('rankList').submit();"
                       class="item">RankList</a>
                    <div class="right item">
                        {% if current_user.is_anonymous %}
                            <form id='login' action="{{ url_for('login') }}" method="POST">
                                <a href="javascript:{}" onclick="document.getElementById('login').submit();"
                                   class="ui inverted button">Log in</a>
                            </form>
                        {% else %}
                            <a style="font-size: 20px">你好 {{ current_user.userName }}</a>
                            <form id='logout' action="{{ url_for('logout') }}" method="GET">
                                <a href="javascript:{}" onclick="document.getElementById('logout').submit();"
                                   class="ui inverted button">Log Out</a>
                            </form>
                        {% endif %}
                    </div>
                </div>
            </div>
            <div class="ui container">
                <div class="ui container">

                    <h2>Please enter Date </h2>
                    <div class="ui three column grid">
                        <div class="five wide column">
                        </div>
                        <div class="six wide floated column">
                            <div class="ui mini input">
                                <input type="startDate" id="st" placeholder="yyyy-mm-dd" required>
                            </div>
                            <b>to</b>
                            <div class="ui mini input">
                                <input type="endDate" id="ed" placeholder="yyyy-mm-dd" required>
                            </div>
                        </div>
                        <div class="four wide left aligned column">
                            <button class="ui left inverted basic tiny search data button">search</button>
                        </div>

                    </div>
                    <div class="ui divider"></div>
                </div>
                {% raw %}
                <div class="ui sticky" style="width: 670px !important; height: 43px !important; left: 264.5px;">
                    <div id="chart-guide-menu" class="ui secondary inverted pointing grade menu">
                        <a class="item" @click="goto(grade)"
                           v-for="grade in grades">
                            {{ grade.slice(1,3) + '届' }}
                        </a>
                    </div>
                    <script>
                        let chart_guide_menu = new Vue({
                            el: "#chart-guide-menu",
                            data: {
                                grades: [],
                            },
                            methods: {
                                goto: (grade) => {
                                    $('html, body').animate({scrollTop: $(`#${grade}`).offset().top - 30}, 500,
                                        () => {
                                            let grade_offset = $(`#${grade}`).offset().top;
                                            let menu_offset = $('#chart-guide-menu').offset().top;
                                            if (menu_offset > grade_offset) {
                                                $('html, body').animate({scrollTop: $(`#${grade}`).offset().top - 30}, 500)
                                            }
                                        })
                                }
                            }
                        })
                    </script>
                </div>
                {% endraw %}
                <div id="chart" class=" ui container" style="width: 100%;height:100%;"></div>
            </div>
        </div>
    </div>

    <script src="{{ url_for('static', filename='js/view.js') }}" type="text/javascript"></script>
{% endblock %}
