{% extends "base.html" %}
{% block head %}
    <style type="text/css">
        body {
            background-color: #1b1c1d;
        }

        .hidden.menu {
            display: none;
        }

        .masthead.segment {
            min-height: 700px;
            padding: 1em 0em;
        }

        .masthead .logo.item img {
            margin-right: 1em;
        }

        .masthead .ui.menu .ui.button {
            margin-left: 0.5em;
        }

        .masthead h1.ui.header {
            margin-top: 3em;
            margin-bottom: 0em;
            font-size: 4em;
            font-weight: normal;
        }

        .masthead h2 {
            font-size: 1.7em;
            font-weight: normal;
        }

        .ui.vertical.stripe {
            padding: 8em 0em;
        }

        .ui.vertical.stripe h3 {
            font-size: 2em;
        }

        .ui.vertical.stripe .button + h3,
        .ui.vertical.stripe p + h3 {
            margin-top: 3em;
        }

        .ui.vertical.stripe .floated.image {
            clear: both;
        }

        .ui.vertical.stripe p {
            font-size: 1.33em;
        }

        .ui.vertical.stripe .horizontal.divider {
            margin: 3em 0em;
        }

        .quote.stripe.segment {
            padding: 0em;
        }

        .quote.stripe.segment .grid .column {
            padding-top: 5em;
            padding-bottom: 5em;
        }

        .footer.segment {
            padding: 5em 0em;
        }

        .secondary.pointing.menu .toc.item {
            display: none;
        }

        @media only screen and (max-width: 700px) {
            .ui.fixed.menu {
                display: none !important;
            }

            .secondary.pointing.menu .item,
            .secondary.pointing.menu .menu {
                display: none;
            }

            .secondary.pointing.menu .toc.item {
                display: block;
            }

            .masthead.segment {
                min-height: 350px;
            }

            .masthead h1.ui.header {
                font-size: 2em;
                margin-top: 1.5em;
            }

            .masthead h2 {
                margin-top: 0.5em;
                font-size: 1.5em;
            }
        }


    </style>
{% endblock %}
{% block content %}
    <div class="pusher">
        <div class="ui inverted vertical masthead center aligned segment">

            <div class="ui container">
                <div class="ui large secondary inverted pointing menu">
                    <a id=home class="active item">Home</a>
                    {% if current_user.permission == 'admin' %}
                        <form id='manager' action="{{ url_for('manager') }}" method="GET">
                        </form>
                        <a href="javascript:{}" onclick="document.getElementById('manager').submit();"
                           class="item">Manager</a>
                    {% endif %}
                    <div class="right item">
                        {% if current_user.is_anonymous %}
                            <form id='login' action="{{ url_for('login') }}" method="POST">
                                <a href="javascript:{}" onclick="document.getElementById('login').submit();"
                                   class="ui inverted button">Log in</a>
                            </form>
                        {% else %}
                            <a style="font-size: 20px">你好 {{ current_user.userName }}</a>
                            <form id='logout' action="{{ url_for('logout') }}" method="GET">
                                <a href="javascript:{}" onclick="document.getElementById('logout').submit();"
                                   class="ui inverted button">Log Out</a>
                            </form>
                        {% endif %}
                    </div>
                </div>
            </div>

            <div class="ui container">
                <div class="container">

                    <div class="form-signin" action="/search" method="post" role="form">
                        <h2 class="form-signin-heading">Please enter Date </h2>
                        <input type="startDate" id="st" class="form-control" placeholder="yyyy-mm-dd" required
                               autofocus>
                        <b>to</b>
                        <input type="endDate" id="ed" class="form-control" placeholder="yyyy-mm-dd" required>

                        <button class="btn btn-lg btn-primary btn-block" type="button" id="searchDate">search</button>
                    </div>

                </div>
                <div id="chart" class="container" style="width: 100%;height:400px;"></div>
            </div>

        </div>

    </div>

    <script type="text/javascript">

        var grades = {};

        var Zoom = [{   // 这个dataZoom组件，也控制x轴。
            type: 'inside', // 这个 dataZoom 组件是 inside 型 dataZoom 组件
            start: 0,      // 左边在 10% 的位置。
            end: 100         // 右边在 60% 的位置。
        }];

        option = {
            title: {
                text: '增量图',
                textStyle: {
                    fontWeight: 'normal',              //标题颜色
                    color: '#ffffff'
                },
            },
            tooltip: {},
            legend: {
                data: ['accept', 'submission'],
                textStyle: {
                    color: '#ffffff'
                },
            },
            grid: {
                left: '3%',
                right: '4%',
                bottom: '3%',
                containLabel: true
            },
            xAxis: {
                data: [], axisLabel: {
                    interval: 0, rotate: '-20', textStyle: {
                        color: '#fff',
                    }
                },
            },
            yAxis: {
                axisLabel: {
                    textStyle: {
                        color: '#fff',
                    }
                },
            },
            series: [{
                name: 'accept',
                type: 'bar',
                data: []
            }, {
                name: 'submission',
                type: 'bar',
                data: [],
                barGap: '0%',
            }]
        };

        option['dataZoom'] = Zoom;

        var options = [];

        var pre_st, pre_ed;

        $("#searchDate").click(function () {
            var st = $('#st').val();
            var ed = $('#ed').val();
            if (st === "") st = null;
            if (ed === "") ed = null;
            if (st !== pre_st || ed !== pre_ed) {
                searchByDate(st, ed);
                pre_st = st;
                pre_ed = ed;
            }
        })
        var searchByDate = function (st, ed) {
            $.ajax({
                type: 'POST',
                url: '/search',
                timeout: 3000,
                contentType: 'application/json',
                data: JSON.stringify({
                    'st': st,
                    'ed': ed,
                }),
                dataType: 'json',
                success: function (data) {
                    grades = {};
                    $.each(data['dates'], function (idx, info) {

                        var grade = info['userId'].substr(0, 4);
                        var userId = info['userId'] + ',' + info['userName'];

                        var acTimes = 0;
                        var subTimes = 0;

                        $.each(info['dailyInfo'], function (idx, daily) {
                            acTimes += Number(daily['acTimes']);
                            subTimes += Number(daily['subTimes']);
                        });

                        if (grades[grade] === undefined) {
                            grades[grade] = [];
                        }

                        grades[grade].push({userId: userId, acTimes: acTimes, subTimes: subTimes})

                    });

                    $("#chart").empty();

                    $.each(grades, function (grade, info) {

                        var option_grade = $.extend(true, {}, option);

                        option_grade.title.text = option_grade.title.text + grade;

                        $.each(info, function (idx, x) {
                            option_grade.xAxis.data.push(x['userId']);
                            option_grade.series[0].data.push(x['acTimes']);
                            option_grade.series[1].data.push(x['subTimes']);
                        });

                        $("#chart").append("<div id = " + grade + " style=\"width: 100%;height:780px;margin:50px;\"></div>");
                        var myChart = echarts.init($("#" + grade).get(0));
                        myChart.setOption(option_grade);
                    });


                },
                error: function (xhr, type) {
                    alert('error:' + type);
                }
            });
        };
        let edDay = new Date()
        let stDay = new Date()
        stDay.setDate(stDay.getDate() - 7)
        pre_st = stDay.toJSON().substr(0, 10)
        pre_ed = edDay.toJSON().substr(0, 10)
        $('#st').val(pre_st)
        $('#ed').val(pre_ed)
        searchByDate(pre_st, pre_ed);

    </script>
{% endblock %}
